@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100&family=Roboto+Mono&display=swap');

:root{
    --background-color: #222831;
    --font-color: #EEEEEE;
    --border-color: #00ADB5;
    --effect-color: #393E46;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
}

section {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

section h1 {
    margin-bottom: 50px;
    font-family: 'Lato';
    font-size: 28px;
}

section h2,h3{
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Roboto Mono';
    font-weight: 400 bold;
    font-size: 16px;
}


.small-section {
    flex: 0.18;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid var(--border-color);
}
.fotoPerfil {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}
.menuLateral {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.menuLateral a {
    display: block;
    padding: 10px;
    margin: 8px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-family: 'Roboto Mono';
    font-weight: 400 bolder;
}

.menuLateral a:hover{
    background-color: var(--effect-color);
}

.contato {
    display: flex;
    align-items: center;
    margin-top: 360px;
}

.contato a {
    margin: 5px;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesquisar {
    text-align: center;
    display: flex;
    align-items: center;
}
.pesquisar input {
    border: none;
    outline: none;
    padding: 5px;
    width: 80%; 
    background-color: transparent;
}

input::placeholder{
    color: var(--font-color);
}
.pesquisar img {
    width: 20%; 
    max-width: 22px; 
    margin-right: 5px;
}

.artigos {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 20px;
    border: 1px solid var(--background-color);
    border-radius: 10px;
    background-color: var(--effect-color);
    overflow: hidden;
    display: flex;
}

.textos {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    text-align: justify;
}

.artigos h2 {
    color: var(--font-color);
}

.artigos a {
    color: var(--font-color);
    font-weight: bold;
}

.artigos p {
    opacity: 40%;
    font-family: 'Roboto Mono';
    font-size: 12px;
    margin-bottom: 10px;
    text-align: start;
}

.artigos img {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-left: 20px;
}

.data {
    margin-top: 90px;
}